/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 /* Home Page */
 
.homepageMain {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* About Section */

.aboutSection {
    width: 100%;
    padding: 3rem 0;
    background: var(--ifm-color-primary-lighter);
    text-align: center;
}

[data-theme='dark'] .aboutSection {
    background: var(--ifm-color-primary-darker);
}

.aboutContent {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.aboutHeading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--ifm-color-primary-darker);
}

.aboutTagline {
    font-size: 1.2rem;
    font-weight: 450;
    margin-bottom: 2.7rem;
    text-align: center;
}

.aboutDescription {
    font-size: 1.05rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

/* Features Section */

.featuresSection {
    padding: 2rem 0;
    width: 100%;
}

/* Buttons */

.primaryButton {
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
	min-width: 160px;
    background-color: var(--ifm-color-primary);
}

.primaryButton:hover {
    background: var(--ifm-color-secondary);
    color: #fff;
}

.secondaryButton {
	justify-content: flex-start;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
	min-width: 160px;
    background-color: none;
    color: var(--ifm-color-primary);
}

.secondaryButton:hover {
    background: none;
    color: var(--ifm-color-secondary)
}
